<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyBank.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyBank.My.MySettings>
            <setting name="BkColour" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="TxColour" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="ProName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProAdr1" serializeAs="String">
                <value />
            </setting>
            <setting name="ProAdr2" serializeAs="String">
                <value />
            </setting>
            <setting name="ProTown" serializeAs="String">
                <value />
            </setting>
            <setting name="ProCity" serializeAs="String">
                <value />
            </setting>
            <setting name="ProCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="ProPostCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ProTel" serializeAs="String">
                <value />
            </setting>
            <setting name="ProSetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AccLive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BkUpDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ProFault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProFaultDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EditTransNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccBank" serializeAs="String">
                <value />
            </setting>
            <setting name="AccType" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfEntries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Task" serializeAs="String">
                <value />
            </setting>
            <setting name="FromForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProAccRef" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransDataChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StateC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StateNotC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalTrans" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeleteTrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccRef" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransRefNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MLIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderRef" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DirSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccRefNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocLandscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TipNo" serializeAs="String">
                <value>0</value>
            </setting>
        </MyBank.My.MySettings>
    </userSettings>
</configuration>